@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "SandyToes";
  src: url("/fonts/SandyToes/SandyToes-L3eLG.ttf");
}
@font-face {
  font-family: "SandyToes-Palm";
  src: url("/fonts/SandyToes/SandyToesPalm-VGlB6.ttf");
}
@font-face {
  font-family: "SandyToes-StarFish";
  src: url("/fonts/SandyToes/SandyToesStarFish-K74KZ.ttf");
}
@font-face {
  font-family: "SandyToes-Umbrella";
  src: url("/fonts/SandyToes/SandyToesUmbrella-2OmMl.ttf");
}
@font-face {
  font-family: "SandyToes-Wave";
  src: url("/fonts/SandyToes/SandyToesWave-2Om53.ttf");
}
@font-face {
  font-family: "BeautyMountain";
  src: url("/public/fonts/BeautyMountainsPersonalUse-od7z.ttf");
}
@font-face {
  font-family: "LostFish";
  src: url("/public/fonts/LostFish-5DOz.ttf");
}

body {
  background-color: #0f1b33;
  background-image: url('/public/ocean-reef.gif');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

::-webkit-scrollbar {
  display: none;
}

.great-vibes-regular {
  font-family: "Great Vibes", cursive;
  font-weight: 400;
  font-style: normal;
}

.bree-serif-regular {
  font-family: "Bree Serif", serif;
  font-weight: 400;
  font-style: normal;
}

.abril-fatface-regular {
  font-family: "Abril Fatface", serif;
  font-weight: 400;
  font-style: normal;
}
