@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "SandyToes";
  src: url("/fonts/SandyToes/SandyToes-L3eLG.ttf");
}
@font-face {
  font-family: "SandyToes-Palm";
  src: url("/fonts/SandyToes/SandyToesPalm-VGlB6.ttf");
}
@font-face {
  font-family: "SandyToes-StarFish";
  src: url("/fonts/SandyToes/SandyToesStarFish-K74KZ.ttf");
}
@font-face {
  font-family: "SandyToes-Umbrella";
  src: url("/fonts/SandyToes/SandyToesUmbrella-2OmMl.ttf");
}
@font-face {
  font-family: "SandyToes-Wave";
  src: url("/fonts/SandyToes/SandyToesWave-2Om53.ttf");
}
@font-face {
  font-family: "BeautyMountain";
  src: url("/public/fonts/BeautyMountainsPersonalUse-od7z.ttf");
}
@font-face {
  font-family: "LostFish";
  src: url("/public/fonts/LostFish-5DOz.ttf");
}

body {
  background-color: #0f1b33;
  background-image: url('/public/ocean-reef.gif');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

::-webkit-scrollbar {
  display: none;
}

.great-vibes-regular {
  font-family: "Great Vibes", cursive;
  font-weight: 400;
  font-style: normal;
}

.bree-serif-regular {
  font-family: "Bree Serif", serif;
  font-weight: 400;
  font-style: normal;
}

.abril-fatface-regular {
  font-family: "Abril Fatface", serif;
  font-weight: 400;
  font-style: normal;
}

.poppins-thin {
  font-family: "Poppins", sans-serif;
  font-weight: 100;
  font-style: normal;
}

.poppins-extralight {
  font-family: "Poppins", sans-serif;
  font-weight: 200;
  font-style: normal;
}

.poppins-light {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.poppins-regular {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.poppins-medium {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.poppins-semibold {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: normal;
}

.poppins-bold {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.poppins-extrabold {
  font-family: "Poppins", sans-serif;
  font-weight: 800;
  font-style: normal;
}

.poppins-black {
  font-family: "Poppins", sans-serif;
  font-weight: 900;
  font-style: normal;
}

.poppins-thin-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 100;
  font-style: italic;
}

.poppins-extralight-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 200;
  font-style: italic;
}

.poppins-light-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-style: italic;
}

.poppins-regular-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: italic;
}

.poppins-medium-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: italic;
}

.poppins-semibold-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: italic;
}

.poppins-bold-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-style: italic;
}

.poppins-extrabold-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 800;
  font-style: italic;
}

.poppins-black-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 900;
  font-style: italic;
}
